/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.information, .moreInformation { font-size: 14px; }
	.eventImage {	height: 400px;}

}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
	.information, .moreInformation { font-size: 12px; }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.title{
	margin: 16px -16px;
}

.description{
	line-height: 1.6em;
}

.eventImage{
	object-fit: cover;
	margin-bottom: 16px;
	width: 100%;

		display: block;
		margin-left: auto;
  margin-right: auto;
	margin-top: 16px;


}

.divider{
 	border-bottom: 1px solid lightgray;
	 margin: 0px 0px 16px 0px; 
}

.textIndent{
 /* margin: -30px 0px 0px 10px; */
	margin: -30px 0px 0px 0px;
}

.title{
	padding: 0px 15px;
}

a:link, a:visited, a:hover {
	text-decoration: none;
	border-bottom: 1px solid #856822;
 color: #856822;
	padding: 0 0 0px 0;
	transition: all 0.3s ease-in-out;
}
