
body {
background-color: #B8BEFF;
}

#pinkBG {
    position: absolute center;
    background-color: #FFE1E9;
    height: 690px;
    width: 1368px;
    margin-left: auto;
    margin-right: auto;

    border-style:  double;
    border-color: #B8BEFF;
    border-width: 20px;
}
