
body {
background-color: #B8BEFF;
}

#parent {
	position: absolute center;
    background-color: #FFE1E9;
    height: 690px;
    width: 1368px;
		margin-left: auto;
		margin-right: auto;

    border-style:  double;
    border-color: #B8BEFF;
    border-width: 20px;
}

.child{
	position: relative;
  width: 1035.3px;
	height: 141px;
	/* background-color: black; */
	top: -28px;
	margin: auto;

	line-height: 141px;
	text-align: center;
	vertical-align: middle;

	font-family: "Bungee Shade";
	color: #B8BEFF;
}


/* https://dev.to/neshaz/how-to-make-your-css-consistent-across-browsers--2hff */
h1{
 font-size: 150px;
}
